# Ignore node_modules for both backend and frontend
/backend/node_modules/
/frontend/view/node_modules/

# Ignore package manager files
/.pnp
.pnp.js

# Ignore testing output
/coverage

# Ignore production build files for frontend React app
/frontend/view/build

# Miscellaneous files
.DS_Store

# Ignore environment variable files for both backend and frontend
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore npm and yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

